.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e2f;
  width: 100%;
  color: royalblue;
  object-fit: cover;
}


h1, p {
  display: block;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}


.welcome-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: rgb(173, 173, 207);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.welcome-buttons button:hover {
  background-color: #45a049;
}

.welcome-buttons button:nth-child(2) {
  background-color: #007bff;
}

.welcome-buttons button:nth-child(2):hover {
  background-color: #0069d9;
}

/* Initial state (before component enters) */
.welcome-enter {
  opacity: 0;
  transform: translateY(20px); /* Slide from below */
}

/* Active state (while component is entering) */
.welcome-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

/* Initial state (before component exits) */
.welcome-exit {
  opacity: 1;
  transform: translateY(0);
}

/* Active state (while component is exiting) */
.welcome-exit-active {
  opacity: 0;
  transform: translateY(20px); /* Slide out below */
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
